body {
    background-color: gray;
    background-image: url("GMRlogo.png");
    background-position: center;
}

/* Main Title */
.mainTitleDiv {
    /* border: 2px solid black; */
    height: 200px;
}
.title {
    left: 41%;
    font-size: 20px;
    cursor: pointer;
}
/* Images */
.GMRblack {
    left: 28%;
    top: 1%;
    height: 100px;
    width: 150px;
}
.GMRlogo {
   height: 100px;
   width: 150px;
   left: 62%;
   top: 1%;
}
.imgDiv {
    top: 3%;
    /* border: 2px solid black; */
    width: 700px;
}
.weDo {
    font-size: 12px;
    left: 40%;
    top: 6%;
    width: 280px;
    /* border: 2px solid white; */
}