body {
    background-color: lightslategray;
}

/* Main title div Style */
.titleDiv {
    
}
.title {
    margin-left: 0%;
    font-size: 50px;
}

/* Main Images */
.GMRblack {
    width: 200px;
    height: 120px;
}
.GMRlogo {
    margin-left: 0%;
    width: 200px;
    height: 120px;
}